@import "../utils/variables";

.badge {
  background-color: $primary;
  color:#fff;
  border-radius: 5px;
  padding: .1rem .5rem;
  font-size: .5rem;
  font-weight:500;
  line-height: 1rem;
}

@each $key, $value in $dark-colors {
  .badge--#{ $key } {
    background-color: $value;
    color:#fff;
  }
}

@each $key, $value in $light-colors {
  .badge--#{ $key } {
    background-color: $value;
    color:#000;
  }
}

