@import "../utils/variables";

.formInput__searchbar {
  button {
    float: right; // 不使用會造成輸入框與按鈕間空隙
    padding: 0.3rem 1rem;
    background: $warning;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0 $border-radius $border-radius 0;
    cursor: pointer;
  }
  input[type="text"] {
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: $border-radius 0 0 $border-radius;
  }
}

.formInput__text input {
  padding: .3rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  width:100%;
}

.formInput__text--block {
  width:100%;
}

