$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1;



$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) ;

$line-height: (
 1: 1,
 2: 1.25,
 3: 1.5,
 4: 1.75,
 5: 2,
 6: 2.25,
 7: 2.5,
 8: 2.75,
 9: 3,
 10: 3.25,
 11: 3.5,
 12: 3.75,
 13: 4,
 14: 4.25,
 15: 4.5,
 16: 4.75,
);

// color
$primary: #1d3557;
$success: #a8dadc;
$secondary: #457b9d;
$danger: #e63946;
$warning: #f1faee;

$description: #ddd;
$title: #3c3c3c;


$dark-colors: (
  primary: $primary,
  secondary: $secondary,
  danger: $danger,
  title:$title
);

$light-colors: (
  success: $success,
  warning: $warning,
  description:$description,
);

// border-radius
$border-radius: 3px;

// responsive
$xs-media:320px;
$sm-media: 576px;
$md-media: 768px;
$lg-media: 992px;
$xl-media:1200px;