@import '../utils/variables';
body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: $font-size-base;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

// 常見樣式

.title {
  font-size: $h1-font-size;
}

.subTitle {
  font-size: $h4-font-size;
}

.article {
  font-size: $h6-font-size;
}

.description {
  font-size: $h6-font-size * .8;
}


